{% extends 'layout.html' %}

{% block title %}
  vibe
{% endblock %}

{% block content %}


  <a class="btn btn-primary" href="{% url 'vibe_create' %}">
    Vibe +
    {% comment %} add + icon {% endcomment %}
  </a>

  <div class="container row gap-3">
    
    {% for vibe in vibes %}
      <div class="card">

        {% if vibe.media %}
          {% if ".mp4" in vibe.media.url|lower or ".webm" in vibe.media.url|lower or ".ogg" in vibe.media.url|lower %}
            <video controls class="">
              <source src = "{{ vibe.media.url }}">
              Doesn't Support Video
            </video>
          {% else %}
            <img src="{{ vibe.media.url }}" class="" />
          {% endif %}
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{vibe.user.username}}</h5>
          <p class="card-text">{{vibe.text}}</p>
          
          {% if user.is_authenticated and user == vibe.user %}
          <a href="{% url 'vibe_edit' vibe.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'vibe_delete' vibe.id %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>

      </div>
    {% endfor %}
  </div>

{% endblock %}